@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

body {
  background-color: #161a1d;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.height {
  height: 100vh;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

h2 {
    color: green;
    text-align: center;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d3d3d3;
  margin-bottom: 160px;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid #a4161a;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: #a4161a;
  color: white;
}

.search button:hover {
    background-color: #730a0d;
    color: white;
}